/* About.css */

/* Container for the About page */
.about-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;  /* Ensures full height of viewport */
  overflow: hidden;  /* Hides both horizontal and vertical scrollbars */
  margin-top: 350px;  /* Adjusted to provide space at the top */
}

/* Heading style */
.about-heading {
  text-align: center;
  font-size: 2.5rem;
  color: rgb(207, 80, 80);  /* Set heading color */
  margin-bottom: 20px;  /* Reduced margin for better alignment */
}

/* Description styling */
.about-content {
  color: white;
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

/* Navigation link styling */
.navigation-links {
  text-align: center;
  margin-top: 20px;
}
